<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>怡享科技</title>
    <link rel="icon" href="https://air-yx.oss-cn-hangzhou.aliyuncs.com/assets/img/favicon.png" mce_href="https://air-yx.oss-cn-hangzhou.aliyuncs.com/assets/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://air-yx.oss-cn-hangzhou.aliyuncs.com/assets/img/favicon.png" mce_href="https://air-yx.oss-cn-hangzhou.aliyuncs.com/assets/img/favicon.png" type="image/x-icon">
    <meta name="description" content="怡享不仅仅有优质贴心的售后服务，还可以在您购买我们产品前提供专业产品知识和相关资讯，随时为您排忧解难。">
    <meta name="keywords" content="怡享,怡享科技,北京怡享科技发展有限公司,空气净化器">

    <!-- ele 引入样式\组件库 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <link rel="stylesheet" href="https://air-yx.oss-cn-hangzhou.aliyuncs.com/assets/css/base/base.css">
    <link rel="stylesheet" href="https://air-yx.oss-cn-hangzhou.aliyuncs.com/assets/css/base/css.css">
    <link rel="stylesheet" href="https://air-yx.oss-cn-hangzhou.aliyuncs.com/assets/css/center/enter.css">

    <style>
        .el-form{margin-top: 30px;}
    </style>
</head>
<body>
<div id="app" class="wait-pay">

    <div class="head">
        <div class="title flex-row-center">
            <a href="./index.html"><img src="../../assets/img/index/logo.png"></a>
            <ul class="x-flex">
                <li><a href="./goods.html">产品</a></li>
                <li><a href="./service.html">售后服务</a></li>
                <li><a href="./share.html">共享计划</a></li>
                <li><a href="./us.html">关于我们</a></li>
                <li class="user-login"><a href="login.html">用户登录</a></li>
                <!--<li class="user-cart"><img src="../../assets/img/common/cart_white.png"></li>-->
                <!--<li class="user-person"><img src="../../assets/img/common/person_white.png"></li>-->
            </ul>
        </div>
    </div>

    <div class="main">
        <div>
            <div class="heading x-flex">
                <img class="icon" src="../../assets/img/common/person_black.png" />
                <span class="title">15600008888</span>
            </div>
            <img class="divide" src="../../assets/img/index/rule_right.png">
        </div>
        <div class="endty x-flex">
            <div class="l-menu">
                <el-menu default-active="4" class="el-menu-vertical-demo">
                    <a href="enter.html"><el-menu-item index="1"><i class="el-icon-star-on"></i>我的订单</el-menu-item></a>
                    <a href="address.html"><el-menu-item index="2"><i class="el-icon-message"></i>收货地址</el-menu-item></a>
                    <a href="afterSale.html"><el-menu-item index="3"><i class="el-icon-upload"></i>申请售后</el-menu-item></a>
                    <a href="partnerApply.html"><el-menu-item index="4"><i class="el-icon-edit"></i>申请成为合伙人</el-menu-item></a>
                </el-menu>
            </div>
            <div class="r-content">
                <el-tabs v-model="activeName">
                    <el-tab-pane label="申请成为合伙人" name="first">
                        <el-form :model="applyForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                            <el-row :gutter="20">
                                <el-col :span="16">
                                    <el-form-item label="姓名" prop="name">
                                        <el-input v-model="applyForm.name"></el-input>
                                    </el-form-item>
                                    <el-form-item label="手机号" prop="phone">
                                        <el-input v-model="applyForm.phone"></el-input>
                                    </el-form-item>
                                    <el-form-item label="邀请码" prop="code">
                                        <el-input v-model="applyForm.code"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm('applyForm')">立即创建</el-button>
                                        <!--<el-button @click="resetForm('applyForm')">重置</el-button>-->
                                    </el-form-item>
                                </el-col>
                                <el-col :span="4"><div class="grid-content bg-purple"></div></el-col>
                            </el-row>
                        </el-form>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>


    </div>




    <div class="page_bottom flex-row-center">
        <div class="left_bottom">
            <div class="tab_title">
                <a href="./index.html">首页</a> |
                <a href="./goods.html">产品</a> |
                <a href="./service.html">售后服务</a> |
                <a href="./us.html">联系我们</a>
            </div>
            <div class="company-info">
                Copyright © 2017, Yixiangkeji Co., Ltd. All Rights Reserved.北京怡享科技有限公司  |
                <a>法律声明</a>| <a>隐私条款</a>  |  <a>开发者中心</a>
                京ICP备14041720号-1    京ICP证140622号    京公网安备11010502025474
            </div>
        </div>
        <div class="right_bottom">
            <img src="../../assets/img/index/logo_yx.png">
        </div>
    </div>

</div>
</body>

<!--vue-->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            activeName: 'first',
            dialogFormVisible: false,
            applyForm: {
                name: '',
                phone: '',
                code: ''
            },
            rules: {
                name: [
                    { required: true, message: '请输入分享人姓名', trigger: 'blur' },
                    { min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur' }
                ],
                phone: [
                    { required: true, message: '请输入分享人联系方式', trigger: 'blur' },
                    { min: 11, max: 11, message: '长度为 11 个字符', trigger: 'blur' }
                ],
                code: [
                    { required: true, message: '请输入邀请码', trigger: 'blur' },
                    { min: 2, max: 20, message: '长度为 2 到 20 个字符', trigger: 'blur' }
                ],
            }
        }
    })

</script>

</html>